<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
</head>
<body>
    <h1>José MIguel Calderón Frutos</h1>
    <ul>
        <li>Potecias</li>
        <a href="/potencia/5/2">Potencia 5 elevado a 2</a><br/>
        <a href="/potencia/5/0">Potencia 5 elevado a 0</a><br/>
        <a href="/potencia/5/-2">Potencia 5 elevado a -2</a>
        <li>Cuenta Palabras</li>
        <a href="/cuenta/califragilisticoespialidoso/o">Cuenta cuantas o hay dentro de la palabra califragilisticoespialidoso</a>
    </ul>
</body>
</html>